<div class="godown-85" id="godown"></div>
<h1 class="text-center">About Us</h1>
<br />
<br />
<p style="font-size:18px">Startup Investment Relations is an informative site providing real time information about startup companies
    related to Seamless.  We have designed a proprietary algorithm that ranks startup companies on various factors
    such as uniqueness, team cohesiveness, and the amount of funding the startup has already received.  Each company is ranked
    from 1 - 5 in each of these three categories, for a score ranging from 1 to 15. The higher the number the
    company receives, the lower the startup's risk. Our algorithm provides real time information as new information
    about the startups are added.
</p><br />
<p style="font-size:18px">Our site allows registered users to create a custom set of search preferences in which to search by.  These
    preferences can then be saved and used for future searches eliminating the need to remember the criteria previously
    used.  The search preferences can be updated or removed at any time.  It is our hope that this feature will make
    searching easier for investors.</p><br />
<p style="font-size:18px">Another great feature that we offer registered users is the ability to save startup companies to a favorite's 
    list.  This list makes remembering what startups you are interested in much easier.  In addition, private
    comments can be added to each startup allowing your notes to be organized in one easy and convenient location.
    You can easily add, edit, and remove your private comments at any time.</p><br />
<p style="font-size:18px">In addition to private comments, we also provide users with the ability to leave public comments on individual
    startups.  These public comments can be seen by other investors and provide valuable insight into other
    investor's thoughts.  Investors can use this space to interact with each other in a respectful and professional
    manner.</p><br />
<p style="font-size:18px">If you are a company that helps investors find startup companies to invest in, please contact us at info@startupinvestmentrelations.com
    so we may help you design your own Investor Relations site.  We specialize in providing custom algorithms to provide easy
    analysis of a startup's financial risk.</p>